body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

h1{
display: flex;
justify-content: center;
color: white;
background-color: black;
font-family:'Montserrat', sans-serif;
margin-bottom: 245px;

}

#iniciarJuego{
    display: flex;
    justify-content: center;
    width: 100%;
    color: black;
    background-color: blueviolet;
    height: 30px;

}


#mensaje, #resultado {
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
}

#botones {
    display: flex;
    justify-content: center;
}

button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
